<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thao Todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <!-- Header -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Adding boxes -->
    <div class="row" style="margin:1%">
        <div class="col-xl-4">
            <form id="f_addCategory" action="/categories/add/" method="post">
                <div class="input-group input-group">
                    <input type="text" class="form-control" placeholder="Enter category"
                           aria-describedby="sizing-addon1" name="title"/>
                    <span class="input-group-addon" id="btnAddCategory"
                          onclick="document.getElementById('f_addCategory').submit();"><i class="fa fa-plus"
                                                                                          aria-hidden="true"></i></span>
                </div>
            </form>
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-xl-8">
            <form id="f_addTodo" th:action="@{'/categories/' + ${catId} + '/todos/add/'}" method="post">
                <div class="input-group input-group">
                    <input type="text" class="form-control" placeholder="What do you need to do"
                           aria-describedby="sizing-addon1" name="title"/>
                    <span class="input-group-addon" id="btnAddTodo"
                          onclick="document.getElementById('f_addTodo').submit();"><i class="fa fa-plus"
                                                                                      aria-hidden="true"></i></span>
                </div>
            </form>
            <div class="dropdown-divider"></div>
        </div>
    </div>

    <!-- List categories -->
    <div class="row" style="margin:1%">
        <div class="col-xl-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" th:each="category : ${categories}">
                    <div class="row align-items-start">
                        <div class="col-xl-9">
                            <a th:href="@{'/categories/' + ${category.getId()} + '/todos/'}">
                                <h6 th:text="${category.getTitle()}"></h6>
                            </a>
                        </div>
                        <div class="col-xl-3 btn-group" role="group">
                            <a class="btn btn-outline-warning"
                               th:href="@{'/categories/update/' + ${category.getId()}}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-outline-danger"
                               th:href="@{'/categories/remove/' + ${category.getId()}}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <!-- All todos of a category -->
        <div class="col-xl-8">
            <ul class="list-group">
                <li class="list-group-item" th:each="todo : ${todos}">
                    <div class="row align-items-start">
                        <div class="col-xl-10">
                            <h6 th:text="${todo.getTitle()}"></h6>
                        </div>
                        <div class="col-xl-2 btn-group" role="group">
                            <a class="btn btn-outline-warning"
                               th:href="@{'/categories/' + ${catId} + '/todos/update/' + ${todo.getId()}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="btn btn-outline-danger"
                               th:href="@{'/categories/' + ${catId} + '/todos/remove/' + ${todo.getId()}}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-xl-9"></div>
        <div class="col-xl-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#!" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#!" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>